<header class="app-header">
  <div class="header-right">
    <div class="header-action">
      <span class="trailing-icon">▼</span>
      <span class="text-wrapper">Mohammed</span>
    </div>

    <!-- Button Icons -->
    <img src="https://img.icons8.com/?size=48&id=3QG6Yycug6ll&format=png" alt="عربي" class="header-icon" />
    <img src="https://img.icons8.com/?size=100&id=11642&format=png" alt="bell icon" class="header-icon" />
    <button class="hamburger-btn" (click)="toggleSidebar()">
      &#9776;
    </button>

  </div>
</header>