<footer class="bottom-nav" dir="rtl">
  <div class="bottom-nav-row row-1">
    <div class="row-content">

      <div class="nav-group">
        <span class="nav-label">الرئيسية</span>
      </div>

      <div class="nav-group">
        <span class="nav-label">عن مزادات</span>
      </div>

      <div class="nav-group">
        <span class="nav-label">الخدمات</span>
      </div>

      <div class="nav-group">
        <span class="nav-label">الأسئلة الشائعة</span>
      </div>

      <div class="nav-group">
        <span class="nav-label">أدوات التفاعل والوصول</span>
        <div class="icon-list">
          <img src="https://img.icons8.com/?size=100&id=2768&format=png" alt="Headphones">
          <img src="https://img.icons8.com/?size=48&id=TiSOTDvSI7iQ&format=png" alt="applause">
          <img src="https://img.icons8.com/?size=160&id=74434&format=png" alt="Brightness">
        </div>
      </div>

      <div class="nav-group">
        <span class="nav-label">تواصل معنا</span>
        <div class="icon-list">
          <img src="https://img.icons8.com/?size=100&id=7859&format=png" alt="Chat">
          <img src="https://img.icons8.com/?size=100&id=9659&format=png" alt="Phone">
          <img src="https://img.icons8.com/?size=100&id=12580&format=png" alt="Email">
        </div>
      </div>

    </div>
  </div>

</footer>
